<div class="card bordered">
    <div class="card-header">
        Basic Information
    </div>
    <div class="card-body">
        <form class="form-group" [formGroup]="registrationForm" (ngSubmit)="submit()" novalidate>
            <div class="row">
                <div class="col-4">
                    <label for="customerName">Customer Name :</label>
                </div>
                <div class="col-6">
                    <input formControlName="customerName" type="text" id="customerName" name="customerName" class="form-control" value="{{selectedCustomer?.customerName}}">
                    <div *ngIf="f.customerName.touched && f.customerName.invalid" class="alert alert-danger">
                        <div *ngIf="f.customerName.errors && f.customerName.errors.required">Customer Name is required.</div>
            
                        <div *ngIf="f.customerName.errors && f.customerName.errors.minlength">Customer Name should be 6 character.</div>
                        
                        <div *ngIf="f.customerName.errors && f.customerName.errors.pattern">Invalid Customer Name.</div>
                    </div>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-4">
                    <label for="fatherName">Father Name :</label>
                </div>
                <div class="col-6">
                    <input formControlName="fatherName" type="text" id="fatherName" name="fatherName" class="form-control" value="{{selectedCustomer?.fatherName}}">
                    <div *ngIf="f.fatherName.touched && f.fatherName.invalid" class="alert alert-danger">
                        <div *ngIf="f.fatherName.errors && f.fatherName.errors.required">Father Name is required.</div>
            
                        <div *ngIf="f.fatherName.errors && f.fatherName.errors.minlength">Father Name should be 6 character.</div>
                        
                        <div *ngIf="f.fatherName.errors && f.fatherName.errors.pattern">Invalid Father Name.</div>
                    </div>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-4">
                    <label for="motherName">Mother Name :</label>
                </div>
                <div class="col-6">
                    <input formControlName="motherName" type="text" id="motherName" name="motherName" class="form-control" value="{{selectedCustomer?.motherName}}">
                    <div *ngIf="f.motherName.touched && f.motherName.invalid" class="alert alert-danger">
                        <div *ngIf="f.motherName.errors && f.motherName.errors.required">Mother Name is required.</div>
            
                        <div *ngIf="f.motherName.errors && f.motherName.errors.minlength">Mother Name should be 6 character.</div>
                        
                        <div *ngIf="f.motherName.errors && f.motherName.errors.pattern">Invalid Mother Name.</div>
                    </div>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-4">
                    <label for="motherName">Marital Status :</label>
                </div>
                <div class="col-2" *ngFor="let stats of enumKeys">
                    <input formControlName="maritalStatus" class="radio" type="radio" [checked]="this.selectedCustomer?.maritalStatus == stats"  name="maritalStatus" [value]="stats">
                        {{maritalStatus[stats]}}
                        <div *ngIf="f.maritalStatus.touched && f.maritalStatus.invalid" class="alert alert-danger">
                            <div *ngIf="f.maritalStatus.errors && f.maritalStatus.errors.required">Marital Status is required.</div>
                        </div>
                    
                    <!-- <ng-container
                    *ngIf="stats == selectedCustomer?.maritalStatus || stats == newCustomer.maritalStatus; then selectedStatus; else Status">
                    </ng-container>
                    <ng-template #Status>
                        <input formControlName="maritalStatus" class="radio" type="radio" name="maritalStatus" id="maritalStatus-{{stats}}" [value]="stats" (change)='newCustomer.maritalStatus=$any($event.target).value;'>
                        {{maritalStatus[stats]}}
                    </ng-template>
                    <ng-template #selectedStatus>
                        <input formControlName="maritalStatus" class="radio" type="radio" name="maritalStatus" id="maritalStatus-{{stats}}" [value]="stats" checked  (change)='newCustomer.maritalStatus=$any($event.target).value;'>
                        {{maritalStatus[stats]}}
                    </ng-template>
                    <div *ngIf="f.maritalStatus.touched && f.maritalStatus.invalid" class="alert alert-danger">
                        <div *ngIf="f.maritalStatus.errors && f.maritalStatus.errors.required">Marital Status is required.</div>
                    </div> -->
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-4">
                    <label for="countryName">Country Name :</label>
                </div>
                <div class="col-6">
                    <select formControlName="countryId" id="countryId" name="countryId" class="form-control">
                        <option *ngFor="let country of countries" [value]="country.code" [selected]="selectedCustomer?.countryId == country.code">
                            {{country.name}}
                        </option>
                        <div *ngIf="f.countryId.touched && f.countryId.invalid" class="alert alert-danger">
                            <div *ngIf="f.countryId.errors && f.countryId.errors.required">Please select a Country.</div>
                        </div>
                    </select>
                </div>
            </div>
            <div class="row pt-4">
                <div class="offset-7 col-3 text-left">
                    <button class="btn btn-primary" [disabled]="!registrationForm.valid" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>